@page "/shopping-cart"

@if (_getColors == null && _getSizes == null)
{
    <Loading></Loading>
}
else
{
    <h2 style="text-align:center" class="m-t-50 m-b-50">Giỏ hàng</h2>
    <!-- Cart Page Section Begin -->
    <div class="cart-page">
        <div class="container">
            <div class="cart-table">
                <table>
                    <thead>
                        <tr>
                            <th class="product-h" Style="font-weight: bold; font-size: 16px">Sản phẩm</th>
                            <th Style="font-weight: bold; font-size: 16px">Giá</th>
                            <th Style="font-weight: bold; font-size: 16px">Màu sắc</th>
                            <th Style="font-weight: bold; font-size: 16px">Kích cỡ</th>
                            <th class="quan" Style="font-weight: bold; font-size: 16px">Số lượng</th>
                            <th Style="font-weight: bold; font-size: 16px">Thành tiền</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in _cartDtos)
                        {
                            <tr>
                                <td class="product-col">
                                    <img src="img/product/product-01.jpg" alt="">
                                    <div class="p-title">
                                        <h5>@item.Name</h5>
                                    </div>
                                </td>
                                <td class="price-col">
                                    @item.Price.ToString("N0")
                                    <div style="display:inline"> VND</div>
                                </td>
                                <td class="price-col">
                                    <MudSelect Margin="Margin.Dense" T="string" Label="Color" Variant="Variant.Outlined" @bind-Value="@item.Color">
                                        @foreach (var item in _getColors)
                                        {
                                            <MudSelectItem Value="@(item.Id.ToString())">@item.Name</MudSelectItem>
                                        }
                                    </MudSelect>
                                </td>
                                <td class="price-col">
                                    <MudSelect Margin="Margin.Dense" T="string" Label="Size" Variant="Variant.Outlined" @bind-Value="@item.Size">
                                        @foreach (var item in _getSizes)
                                        {
                                            <MudSelectItem Value="@(item.Id.ToString())">@item.Name</MudSelectItem>
                                        }
                                    </MudSelect>
                                </td>
                                <td class="quantity-col">
                                    <div>
                                        <MudNumericField Variant="Variant.Text" Min="1" Style="width: 200px" @bind-Value="@item.Quantity" />
                                    </div>
                                </td>
                                <td class="total">
                                    @item.Total.ToString("N0")
                                    <div style="display:inline">VND</div>
                                </td>
                                <td>
                                    <div class="product-close" @onclick="() => RemoveProduct(item.Id)">x</div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="cart-btn">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="flex-w flex-m m-r-20 m-tb-5">
                            <input class="stext-104 cl2 plh4 size-117 bor13 p-lr-20 m-r-10 m-tb-5" type="text" name="coupon" placeholder="Mã giảm giá">

                            <div class="flex-c-m stext-101 cl2 size-118 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-5">
                                Giảm giá
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 offset-lg-1 text-left text-lg-right">
                        <button @onclick="ClearCart" class="site-btn clear-btn">Xoá giỏ hàng</button>
                        <div class="site-btn update-btn hov-btn3 trans-04" @onclick="UpdateCard">Cập nhật giỏ hàng</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="shopping-method">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="total-info">
                            <div class="total-table">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Tổng tiền</th>
                                            <th>Tổng phụ</th>
                                            <th>Shipping</th>
                                            <th class="total-cart">Tổng tiền giỏ hàng</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr>
                                            <td class="total">@totalAll.ToString("N0") VND</td>
                                            <td class="sub-total">$0</td>
                                            <td class="shipping">$0</td>
                                            <td class="total-cart-p">@totalAll.ToString("N0") VND</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                            <!-- Cart Total Page Begin -->
                            <section class="cart-total-page spad">
                                <div class="container">
                                    <form action="#" class="checkout-form">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <h3>Thông tin nhận hàng</h3>
                                            </div>
                                            <div class="col-lg-8">
                                                <div class="row">
                                                    <div class="col-lg-2">
                                                        <p class="in-name">Họ và tên*</p>
                                                    </div>
                                                    <div class="col-lg-10">
                                                        <input type="text" required="true" @bind-value="_orderCreated.CustomerName">
                                                        <ValidationMessage For="()=>_orderCreated.CustomerName" style="color:red"></ValidationMessage>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-2">
                                                        <p class="in-name">Địa chỉ*</p>
                                                    </div>
                                                    <div class="col-lg-10">
                                                        <input type="text" @bind-value="_orderCreated.Address">
                                                    </div>
                                                </div>



                                                <div class="row">
                                                    <div class="col-lg-2">
                                                        <p class="in-name">Số điện thoại*</p>
                                                    </div>
                                                    <div class="col-lg-10">
                                                        <input type="text" @bind-value="_orderCreated.PhoneNumber">
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-lg-2">
                                                        <p class="in-name">Ghi chú</p>
                                                    </div>
                                                    <div class="col-lg-10">
                                                        <input type="text" @bind-value="_orderCreated.Note">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="payment-method">
                                                    <h3>Thanh toán</h3>
                                                    <ul>
                                                        <div class="form-check ">
                                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="inlineRadio1" value="Paypal">
                                                            <label class="form-check-label" for="inlineRadio1"> Paypal <img src="img/paypal.jpg" alt=""></label>
                                                        </div>


                                                        <div class="form-check ">
                                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="inlineRadio1" value="Mommo">
                                                            <label class="form-check-label" for="inlineRadio2"> Credit / Debit card <img src="img/mastercard.jpg" alt=""></label>
                                                        </div>
                                                    </ul>
                                                    <MudButton class="hov-btn3 trans-04" @onclick="CheckOut">Đặt hàng</MudButton>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </section>
                            <!-- Cart Total Page End -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Cart Page Section End -->
}