@page "/brands"
@attribute [Authorize(Roles = "Administrator")]

@if (_brandVM.Count == 0)
{
    <span class="loaderAnimation"></span>
}
else
{

    <MudTable Items="_brandVM" Hover="true" Breakpoint="Breakpoint.Sm">
        <HeaderContent>
            <MudTh>Tên</MudTh>
            <MudTh>Ngày tạo</MudTh>
            <MudTh>Người tạo</MudTh>
            <MudTh>Trạng thái</MudTh>

        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Nr">@context.Name </MudTd>
            <MudTd DataLabel="Name">@context.CreatedAt.ToString("dd/MM/yyy h:mm tt")</MudTd>
            <MudTd DataLabel="Sign">@context.CreatedUserName</MudTd>
            <MudTd DataLabel="Sign">
                <StatusComponent Status="@context.Status" />
            </MudTd>
            <MudIconButton Color="Color.Primary" Icon="@Icons.Material.Filled.RemoveRedEye" Href=@($"/BrandDetail/{context.Id}") />
            <MudIconButton Color="Color.Secondary" Icon="@Icons.Material.Filled.Edit" Href=@($"/BrandUpdate/{context.Id}") />
            <MudIconButton Color="Color.Tertiary" Icon="@Icons.Material.Filled.Delete" DisableElevation="true" @onclick="()=> DeleteBrands(context.Id)" />
        </RowTemplate>

    </MudTable>
    <br>
    <MudButton Variant="Variant.Filled" Color="Color.Primary" Href="BrandCreate">Create New</MudButton>
}




