@page "/BrandCreate"
@using ShoppingOnline.Admin.ViewModels.ViewModelClient
<h3>BrandCreate</h3>

<EditForm Model="@_brandVMclient" OnValidSubmit="SubmidBrandCreate">
    <DataAnnotationsValidator />
    <MudGrid>
        <MudItem xs="12" sm="7">
            <MudCard>
                <MudCardContent>
                    <MudTextField Label="Name" HelperText="Max. 8 characters"
                                  @bind-Value="_brandVMclient.Name" For="@(() => _brandVMclient.Name)" />
@*                    <InputSelect class="form-control" @bind-Value="_brandVMclient.Status">
                        <option>Select Status</option>
                        @foreach (string item in Enum.GetNames(typeof(Status)))
                        {
                            <option value="@item">@item</option>
                        }
                    </InputSelect>*@
                    <MudTextField Label="CreatedBy" Class="mt-3"
                                  @bind-Value="_brandVMclient.CreatedBy" For="@(() => _brandVMclient.CreatedBy)" />

                </MudCardContent>
                <MudCardActions>
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Create</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
</EditForm>