@page "/brandDetail/{BrandId:guid}"

@if (_BrandVM.Name != null)
{
    <h3>Chi tiết @_BrandVM.Name</h3>
    <table class="table">
        <tr>
            <td>Name</td>
            <td>@_BrandVM.Name</td>
        </tr>
        <tr>
            <td>Ngày tạo</td>
            <td>@_BrandVM.CreatedAt.ToString("dd/MM/yyyy h:mm tt")</td>
        </tr>
	    <tr>
		    <td>Người tạo</td>
		    <td>@_BrandVM.CreatedUserName</td>
	    </tr>
	    <tr>
		    <td>Thời gian sửa mới nhất</td>
		    <td>@_BrandVM.UpdateAt.ToString("dd/MM/yyyy h:mm tt")</td>
	    </tr>
	    <tr>
		    <td>Người sửa</td>
		    <td>@_BrandVM.UpdatedUserName</td>
	    </tr>

    </table>
}
